<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Espécies</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
                    <li class="breadcrumb-item active">Espécies</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <form (ngSubmit)="loadEspecies()" class="mb-3">
            <div class="form-row">
                <div class="col-5">
                    <input type="text" class="form-control" placeholder="Filtrar por nome da espécie"
                        [(ngModel)]="filterNome" name="filterNome" />
                </div>
                <div class="col-5">
                    <button type="submit" class="btn btn-primary">Filtrar</button>&nbsp;&nbsp;
                    <button type="button" class="btn btn-success" (click)="openModal()">Nova Espécie</button>
                </div>
            </div>
        </form>

        <div class="d-flex justify-content-center" *ngIf="isLoading">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Carregando...</span>
            </div>
        </div>

        <table class="table table-bordered" *ngIf="!isLoading">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of especies">
                    <td class="col-1">{{ item.idEspecie }}</td>
                    <td class="col-3">{{ item.dscEspecie }}</td>
                    <td class="col-1">
                        <button class="btn btn-warning" (click)="openModal(item)" tooltip="Editar Espécie">
                            <i class="fas fa-edit"></i>
                        </button>&nbsp;&nbsp;
                        <button class="btn btn-danger" (click)="confirmDelete(item)" tooltip="Excluir Espécie">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Modal -->
        <div class="modal fade" id="modalEspecie" tabindex="-1" role="dialog" aria-labelledby="modalEspecieLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalEspecieLabel">{{ isEditing ? 'Editar Espécie' : 'Nova Espécie'
                            }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="especieForm" (ngSubmit)="saveEspecie()">
                            <div class="form-group">
                                <div class="col">
                                    <label for="dscEspecie">Nome</label>
                                    <input type="text" id="dscEspecie" formControlName="dscEspecie" class="form-control"
                                        [ngClass]="{'error-input': especieForm.get('dscEspecie')?.invalid && (especieForm.get('dscEspecie')?.dirty || especieForm.get('dscEspecie')?.touched)}">
                                    <div
                                        *ngIf="especieForm.get('dscEspecie')?.invalid && (especieForm.get('dscEspecie')?.dirty || especieForm.get('dscEspecie')?.touched)">
                                        <small class="error-text" *ngIf="especieForm.get('dscEspecie')?.errors?.['required']">
                                            A descrição é obrigatória.
                                        </small>
                                        <small class="error-text"
                                            *ngIf="especieForm.get('dscEspecie')?.errors?.['maxlength']">
                                            A descrição não pode ter mais que 150 caracteres.
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            (click)="closeModal()">Fechar</button>
                        <button type="submit" class="btn btn-primary" (click)="saveEspecie()">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>